.panel-body.index-card {
    padding: 0;
}
html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
}
.play-click {
    cursor: pointer;
}
.card-buttons {
    position: absolute;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
