{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}
{% for song in songs %}
<div class="col-sm-3">
  <div class="panel">
    <div class="panel-body index-card">
        <div class="card-buttons" style="position: absolute;">
          <a href="{{ url_for('edit_song_route', filename=song.base_src) }}" class="btn btn-raised btn-info btn-xs">Edit</a>
        </div>
        <img class="media-object play-click" data-number="{{ loop.index0 }}" src="data:image/png;base64,{{ song.base64_cover or '' }}" alt="{{ song.title }}" style="width: 100%;">
    </div>
    <div class="panel-footer">
      {% set min = (song.duration / 60)|int %}
      {% set sec = song.duration % 60 %}
      <div class="play-click" data-number="{{ loop.index0 }}">
        <h3 class="panel-title">{{ song.title }} <small>({{ min }}:{{ sec }})</small></h3>
        <p>{{ song.artist }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block footer %}
{% if songs %}
<footer class="footer">
  <div class="container">
    <audio id="player" controls autoplay>
      {% set first_song = songs.0 %}
      <source src="{{ first_song.server_src }}" type="audio/mpeg" />
      <a href="http://www.w3schools.com/html/horse.mp3">horse</a>
      An html5-capable browser is required to play this audio. 
    </audio>
  </div>
</footer>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    /* Control songs */
    var songs = [
        {% for song in songs %}
            "{{ song.server_src }}",
        {% endfor %}    
    ];
    var song_num = 0;  // Current song playing
    var player = $("#player");
    function setSong(next_song_num){
        player.attr("src", songs[next_song_num]);
        song_num = next_song_num;
    }

    /* Play next song on complete */
    player.on("ended", function(){
        song_num++;

        // Reset songs
        if (song_num >= songs.length){
            song_num = 0;
        }

        setSong(song_num);

    });

    /* Play clicked song */
    $(".play-click").click(function(){
        var number = parseInt($(this).data("number"));
        if (song_num !== number){
            setSong(number);
        }
    });
</script>
{% endblock %}
